## Importing Libraries

In [1]:
import pandas as pd
import numpy as np
import os

## Importing Data Sets

In [2]:
path=r'/Users/isabelgonzalez/Desktop/achievement 4'

In [15]:
df_ords = pd.read_csv(os.path.join(path, 'data', 'prepared data', 'orders_clean.csv'), index_col = False)

In [4]:
df_prods=pd.read_csv(os.path.join(path, 'data', 'prepared data', 'products_clean.csv'), index_col = False)

In [5]:
df_ords_prior=pd.read_csv(os.path.join(path, 'data', 'original data', 'order_products__prior.csv'), index_col = False)

## Merging Instacart Data

In [6]:
#Check the output
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [8]:
df_ords_prior.shape

(32434489, 4)

In [16]:
df_ords.shape

(3421083, 9)

In [17]:
df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)

In [18]:
df_merged_large.head()

,Unnamed: 0.1,Unnamed: 0,order_id,customer_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,one_time_customer,product_id,add_to_cart_order,reordered,_merge
0,0,0,2539329,1,1,2,8,NaN,True,196,1,0,both
1,0,0,2539329,1,1,2,8,NaN,True,14084,2,0,both
2,0,0,2539329,1,1,2,8,NaN,True,12427,3,0,both
3,0,0,2539329,1,1,2,8,NaN,True,26088,4,0,both
4,0,0,2539329,1,1,2,8,NaN,True,26405,5,0,both

In [20]:
df_merged_large['_merge'].value_counts()

both          32434489
left_only            0
right_only           0
Name: _merge, dtype: int64

In [21]:
# exporting data
df_merged_large.to_pickle(os.path.join(path, 'data','prepared Data', 'orders_products_combined.pkl'))